body {
  background-color: #eee;
}

/* auth */
.form-signin {
  max-width: 300px;
  margin: 200px auto;
}
/* end auth */

/* menu */
.auth, .cart {
  display: inline-block;
  padding-left: 20px;
}

.cart p, .cart a, .auth a {
  font-size: 11px;
  margin: 0;
}
/* end menu */

/* categories */
.categories ul {
  padding: 0;
}

.categories ul li {
  list-style-type: none;
  border-radius: 0;
}

.categories ul li a {
  border-radius: 0!important;
  margin: 0;
}

.categories ul li a.active {
  background-color: blue;
}

.categories .lvl-2 li a {
  padding-left: 30px;
}

.categories .lvl-3 li a {
  padding-left: 45px;
}

.categories .lvl-4 li a {
  padding-left: 60px;
}

.categories .lvl-5 li a {
  padding-left: 75px;
}
/* end categories */

/* bl_catalog */
.bl_catalog .product {
  height: 240px;
  padding: 15px;
  border-right: 2px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bl_catalog .row {
  border-bottom: 2px solid #eee;
  background-color: #fff;
}

.bl_catalog .product:nth-child(4) {
  border-right: none;
}

.bl_catalog .product img {
  width: initial;
  height: 100px;
  margin: 0 auto;
  display: block;
}
.bl_catalog .product .title {
  text-align: center;
  font-weight: bold;
}

.bl_catalog .product .wrap-price {
  display: inline-block;
  width: 50%;
}

.bl_catalog .product .wrap-price .old-price {
  display: block;
  text-decoration: line-through;
  color: #b3b3b3;
  font-size: 12px;
}

.bl_catalog .product .wrap-price .price {
  display: block;
}
/* end bl_catalog */

/* bl_product */
.bl_product {
  background-color: #fff;
}

.bl_product .photo {
  padding: 40px 40px 0 40px;
}

.bl_product .photo img {
  height: 300px;
  display: block;
  margin: 0 auto;
}

.bl_product .photo .photo-preview {
  display: block;
  height: 80px;
  margin-top: 20px;
  overflow: hidden;
}

.bl_product .photo .photo-preview a {
  display: inline-block;
  height: 100%;
  width: 80px;
  padding: 8px;
  border: 3px solid #e4e4e4;
}

.bl_product .photo .photo-preview a:hover {
  border: 3px solid #90d1ff;
}

.bl_product .photo .photo-preview a img {
  display: block;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.bl_product .buy {
  /*border: 5px solid #eee;*/
  background-color: #eee;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 20px 0 20px;
}

.bl_product .buy .wrap-price {
  display: inline-block;
}

.bl_product .buy .wrap-price .old-price {
  text-decoration: line-through;
  color: #585858;
  font-size: 16px;
  display: block;
}

.bl_product .buy .wrap-price .price {
  display: block;
  font-size: 25px;
  color: #585858;
  font-weight: bold;
}

.bl_product .properties-main {
  padding: 30px;
}

.bl_product .properties-main h4 {
  margin-top: 0;
  margin-bottom: 20px;
}

.bl_product .title-properties {
  color: #9e9e9e;
  font-size: 14px;
}

.bl_product .description {
  padding: 20px;
}

.bl_product .description p {
  padding-left: 20px;
  padding-top: 20px;
}

.bl_product .propertys-detail {
  padding: 20px;
}

.bl_product .propertys-detail h5 {
  font-weight: bold;
}

.bl_product .propertys-detail-section {
  margin-top: 30px;
  margin-left: 20px;
}

.bl_product .reviews {
  padding: 0 20px;
}

.bl_product .reviews .el {
  border-left: 3px solid #bbb;
  margin-bottom: 30px;
}

.bl_product .reviews .el .author {
  padding-left: 20px;
  padding-bottom: 10px;
  display: block;
  font-weight: bold;
}

.bl_product .reviews p {
  color: #828282;
  padding-left: 40px;
}

/* end bl_product */

/* page */
.content {
  background-color: #fff;
  padding: 30px;
}
/*end page */

/* basket */
.basket .basket-item {
  padding: 20px;
  border-bottom: 3px solid #eee;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.basket .basket-item .count-button {
  display: inline-block;
}

.basket .basket-item img {
  max-height: 150px;
  max-width: 150px;
  display: block;
  margin: 0 auto;
}
/* end basket */

/* order form */
.orderForm input {
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
}

.orderForm .inputLabel {
  font-weight: bold;
}

.orderForm .radio {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
/* end order form */

/* order list */
.order-list {

}

.order-list-item {
  padding: 10px 0 10px 0;
  border-bottom: 3px solid #eee;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.order-list-item img {
  max-height: 80px;
  max-width: 80px;
  display: block;
  margin: 0 auto;
}


/* end order list */

/* footer */
footer {
  display: block;
  min-height: 200px;
  background-color: #4c4c4c;
  margin-top: 40px;
}


/* end footer */
